<div >
    <div *ngFor="let Asesino of asesinos_listado">
        <div *ngIf="Asesino.nombre == assesin.nombre">
            <div class="container">
                <div class="card">
                    <div class="card-header">
                        <h3>{{assesin.nombre}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <img src="../../../assets/img/imgAsesinos/{{assesin.nombre}}.png" height="450px" />
                                </div>
                                <div class="col-1"></div>
                                <div class="col-4">
                                    <p>Nombre : {{Asesino.nombre}}</p>
                                    <p>Velocidad: {{Asesino.velocidad}} </p>
                                    <p>Dificultad: {{Asesino.dificultad}}</p>
                                    <hr>
                                    <button class="btn btn-secondary" (click)="VolverAsesinos()" >Volver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div *ngIf="url404==false">
        <h1>Asesino {{assesin.nombre}} no encontrado</h1>
    </div>
</div>
