<hr>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <button class="btn btn-primary" >Asesinos Faciles</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" >Asesinos Dificiles</button>
    </div>
    <div class="col-md-2">
        <button class="btn btn-primary" >Todos los asesinos</button>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div *ngFor="let Asesino of asesinos_listado">                
            <div class="card" >
                <div class="card-header">
                    <h4>NOMBRE: {{Asesino.nombre}}</h4>
                    <img src="\src\assets\img\{{Asesino.nombre}}.png" style="height: 100px; width: 100px;" />        
                </div>
                <div class="card-body">
                    <ul>
                        <li>velocidad de movimiento: {{Asesino.velocidad}}</li>
                        <li>dificultad {{ Asesino.dificultad}} </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>     
    <hr>   
</div>

