<hr>
<div class="row">
    <h1 class="display-3">Asesinos -</h1>
    <hr />
    <div class="col-md-1"></div>
    <div class="col-md-2">
        <button (click)="mostrarAsesinosVar('Facil')" class="btn btn-primary" >Asesinos Faciles</button>
    </div>
    <div (click)="mostrarAsesinosVar('Dificil')"  class="col-md-2">
        <button class="btn btn-primary" >Asesinos Dificiles</button>
    </div>
    <div (click)="mostratTodosAsesinos()" class="col-md-2"> 
        <button class="btn btn-primary" >Todos los asesinos</button>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div>

        </div>
        
        <div *ngFor="let Asesino of asesinos_listado">
            <div *ngIf="Asesino.visible === true">
                <div class="card" >
                    <div class="card-header">
                        <h4>NOMBRE: {{Asesino.nombre}}</h4>
                    </div>
                    <div class="card-body">
                        <ul>
                            <img src="../../assets/img/imgAsesinos/{{Asesino.nombre}}.png" style="width:125px;height: 150px;"/>        
                            <!--  -->
                            <li>velocidad de movimiento: {{Asesino.velocidad}}</li>
                            <li>dificultad {{ Asesino.dificultad}} </li>
                            <hr>
                            <button class="btn btn-warning" (click)="MostrarPaginaAsesino(Asesino.nombre)"> Mostrar</button>
                        </ul>
                    </div>
                </div>
            </div>                
            <br />
        </div>
    </div>     
    <hr>   
</div>

